{% extends 'base.html' %}
{% block 'contents' %}

<div class="row center-align">
    <form class="" action="{% url 'loguedje:dictionary' %}" method="get">
        <div class="input-field col s6 m5">
            <label for="vo">Patois</label>
            <input type="text" id="vo" name="vo" {% if vo %} value="{{ vo }}" {% endif %}>
        </div>
        <div class="input-field col s6 m5">
            <label for="fr">Françâs</label>
            <input type="text" id="fr" name="fr" {% if fr %} value="{{ fr }}" {% endif %}>
        </div>
        <div class="col s12 m1 center-align">
            <input class="green darken-2 btn" type="submit" class="button" value="Qwêre">
        </div>
    </form>
</div>

<ul>
    {% for i in entries %}
    <li><b>{{ i.fr }}</b>: {{ i.vo }}</li>
    {% endfor %}
</ul>

{% endblock %}