{% extends 'base.html' %}
{% block 'contents' %}

<form class="center-form" action="{% url 'loguedje:translate' %}" method="get">
    <textarea cols="80" rows="10" name="fr" placeholder="Françâs">{% if fr %}{{ fr }}{% endif %}</textarea>
    <hr />
    <input type="submit" class="button" value="Traduire">
    <hr />
</form>
<form class="center-form" action="{% url 'loguedje:translate' %}" method="get">
    <textarea cols="80" rows="10" name="vo" placeholder="Patois">{% if vo %}{{ vo }}{% endif %}</textarea>
    <!-- <input type="submit" class="button" value="Qwêre"> -->
</form>

{% endblock %}