{% extends 'base.html' %}
{% block 'contents' %}

<div class="row center-align">

    <form class="" action="{% url 'loguedje:translate' %}" method="get">
        <div class="col s12 l5">
            <div class="input-field">
                <label for="fr">Françâs</label>
                <textarea class="materialize-textarea" name="fr">{% if fr %}{{ fr }}{% endif %}</textarea>
            </div>
        </div>

        <div class="col s12 l2">
            <input class="btn green darken-2" type="submit" class="button" value="Traduire">
        </div>

    </form>
    <form class="" action="{% url 'loguedje:translate' %}" method="get">
        <div class="col s12 l5">
            <div class="input-field">
                <label for="vo">Patois</label>
                <textarea class="materialize-textarea" name="vo">{% if vo %}{{ vo }}{% endif %}</textarea>
            </div>
        </div>

        <!-- <input type="submit" class="button" value="Qwêre"> -->
    </form>

</div>

{% endblock %}