
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
}

.brand-logo {
    font-size: large !important;
}
@media screen and (max-width: 600px) {
.brand-logo {
    font-size: medium !important;
}
}
@media screen and (max-width: 500px) {
.brand-logo {
    font-size: small !important;
}
}
@media screen and (max-width: 400px) {
.brand-logo {
    font-size: smaller !important;
}
}

.btn, .btn-flat {
    height: auto !important;
    text-transform: none;
}


.flex-wrap {
    display: flex;
}

.full-width {
    width: 100%;
}


/*
 *  HEADER
 */
.brand-logo {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
}

a.nav-link {
    padding-bottom: 10px;
}

.nav-link {
    border-bottom: .125em solid transparent;
}

.nav-link:hover {
    border-bottom: .125em solid rgba(255,255,255,.75);
}