{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>{{title}} - vosges-independantes.org</title>

  <link rel="icon" href="{% static 'favicon.ico' %}" />

  <link rel="stylesheet" href="{% static 'style/global.css' %}" />

  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet" />
</head>

<body>

  <div class="header-wrap">
    <div class="header-title">
      <h1>VOSGES-INDEPENDANTES.ORG</h1>
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="{% url 'home:index' %}">Accueil</a></li>

        <li><a href="{% url 'nature:index' %}">Nature</a></li>

        <li><a href="{% url 'loguedje:dictionary' %}">Dictionnaire</a></li>
        <li><a href="{% url 'loguedje:translate' %}">Traducteur</a></li>
      </ul>
  </div>

  <div class="title-wrap">
    <h2>{{title}}</h2>
  </div>

  <div class="contents-wrapper">
    <div class="contents">
      {% block 'contents' %}
      {% endblock %}
    </div>
  </div>

</body>

</html>