<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{title}} - vosges-independantes.org</title>

    <link rel="icon" href="/static/favicon.ico"/>

    <link rel="stylesheet" href="/static/style/global.css"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="nav">
    </div>
    <div>
      <header class="header-wrap">
	<div class="header-title">
	  <img alt="Drapeau" src="./static/images/drapeau-decoupe.gif">
	  <h1>VOSGES-INDEPENDANTES.ORG</h1>
	</div>
	<nav class="navbar">
	  <ul>
	    <li><a href="/">Accueil</a></li>
	    <li><a href="/gal'rie">Gallerie</a></li>
	    <li><a href="/dico">Dictionnaire</a></li>
	  </ul>
	</nav>
      </header>
      <div class="second-header-wrap">
	<h2>{{title}}</h2>
      </div>
    </div>
    <div class="main-wrapper">
      <div class="main">
	{{~> contents}}
      </div>
    </div>
  </body>
</html>
