{{#*inline "contents"}}
<form class="center-form" action="/dico" method="get">
  <input type="text" name="qweredjevo" placeholder="Patois" {{#if vo}}value="{{vo}}"{{/if}}>
  <input type="text" name="qweredjefr" placeholder="Françâs" {{#if fr}}value="{{fr}}"{{/if}}>
  <input type="submit" class="button" value="Qwêre">
</form>
<ul>
{{#each defs}}
<li><b>{{this.0}}</b>: {{this.1}}</li>
{{/each}}
</ul>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> base~}}
